service: vibechack-backend

plugins:
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  memorySize: 256
  environment:
    GEMINI_API_KEY: ${env:GEMINI_API_KEY}
    DATABASE_URL: ${env:DATABASE_URL}
    JWT_SECRET: ${env:JWT_SECRET}
  httpApi:
    cors:
      allowedOrigins:
        - https://hackathon-cloud-six.vercel.app
        - http://localhost:5173
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - GET
        - POST
        - OPTIONS
      maxAge: 6000 # In seconds

functions:
  app:
    handler: handler.handler
    events:
      - httpApi: '*'
